body {
    background-image: url('imagens/proj-js04-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
    position: relative;
    z-index: 1;
    width: 40%;
}

label {
    display: block; 
    margin-bottom: 5px; 
    color: white;
    width: 100%;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 63%;
    z-index: 2;
}

button {
    padding: 10px 20px;
    background-color: #613ec9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    box-sizing: border-box;
}

button:hover {
    background-color: #EC3D8C;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #816CBE;
    border-radius: 5px;
    overflow: auto;
    max-height: 180px;

    /* Estilos da barra de rolagem */
    scrollbar-width: thin;
    scrollbar-color: #613ec9 #AD58A9;

    /* Para navegadores que usam a propriedade -webkit- */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #EC3D8C; 
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #613ec9; 
        border-radius: 5px;
    }
}

li {
    margin: 5px 0;
}

footer {
    background-color: #613ec9;
    color: #fff;
    border-top: 1px solid #EC3D8C;
    box-shadow: -4px 0px 30px 1px #EC3D8C;
    text-align: center;
    position: fixed;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

footer a:hover {
    color: #EC3D8C; 
    transform: scale(1.1);
}

footer h6 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}